<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
        <h3>Redes Sociales</h3>
            <ul class="social-links">
                <li class="social-item">
                    <img src="assets/img/facebook_photo.jpg" alt="Facebook">
                    <a href="#">Facebook</a>
                </li>
                <li class="social-item">
                    <img src="assets/img/instagram_photo.png" alt="Instagram">
                    <a href="#">Instagram</a>
                </li>
                <li class="social-item">
                    <img src="assets/img/X_photo.png" alt="X">
                    <a href="#">X</a>
                </li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Enlaces Rápidos</h3>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Servicios de compra</a></li>
                <li><a href="#">Servicios de postventa</a></li>
                <li><a href="#">Terminos y condiciones</a></li>
            </ul>
        </div>
        <div class="footer-section contact-info">
            <h3>Información de Contacto</h3>
            <p>Teléfono: #</p>
            <p>Email: #</p>

            <div class="subscription-form">
                <input type="email" placeholder="Tu correo electrónico">
                <button type="submit">Suscribirse</button>
            </div>
        </div>
    </div>
</footer>
