<div [ngClass]="{'bg-gray-50': !isDarkMode(), 'bg-slate-800': isDarkMode()}" class="h-full flex flex-col items-center gap-10 px-4 md:px-8 lg:px-20 py-10">
    <h2 [ngClass]="{'text-black': !isDarkMode(), 'text-white': isDarkMode()}" class="text-lg md:text-xl lg:text-2xl font-bold text-center">¿Por qué confiar en nosotros?</h2>
    <!-- Contenedor de iconos -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-5 w-full md:w-3/4 my-4">
        @for(card of cards; track card.title){ 
            <div (click)="onCardClick(card.title)" [ngClass]="{'bg-white': !isDarkMode(), 'bg-slate-700': isDarkMode()}" class="flex flex-col items-center h-40 gap-2 p-3 md:p-4 relative group hover:scale-105 transition-transform duration-500 rounded-lg shadow-sm hover:shadow-md cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" [ngClass]="{'stroke-slate-900': !isDarkMode(), 'stroke-white': isDarkMode()}" class="w-8 h-8 md:w-10 md:h-10 group-hover:stroke-blue-400 duration-300">
                    <path stroke-linecap="round" stroke-linejoin="round" [attr.d]="card.icon"></path>
                </svg>
                <h1 class="text-xs md:text-sm font-bold mt-1 text-center transition-colors duration-300" [ngClass]="{'text-slate-900 group-hover:text-blue-400': !isDarkMode(), 'text-white group-hover:text-blue-400': isDarkMode()}">{{ card.title }}</h1>
                <p [ngClass]="{'text-gray-600': !isDarkMode(), 'text-slate-300': isDarkMode()}" class="text-xs text-center mt-1 leading-tight">{{ card.text }}</p>

                <!-- Bordes con animación -->
                <div class="absolute top-0 left-0 w-8 h-8 md:w-10 md:h-10 border-t-2 border-l-2 border-transparent group-hover:border-blue-400 transition-all duration-300 origin-top-left scale-0 group-hover:scale-200 opacity-0 group-hover:opacity-100"></div>
                <div class="absolute bottom-0 right-0 w-8 h-8 md:w-10 md:h-10 border-b-2 border-r-2 border-transparent group-hover:border-blue-400 transition-all duration-300 origin-bottom-right scale-0 group-hover:scale-200 opacity-0 group-hover:opacity-100"></div>
            </div>
        }
    </div>
</div>