<div data-aos="fade-left" data-aos-duration="800"
    class="bg-white p-4 sm:p-5 md:p-6 rounded-lg shadow-md hover:shadow-xl transition-shadow border-l-4 border-blue-500">
    <h2 class="text-lg sm:text-xl md:text-2xl font-display-CormorantGaramond font-bold text-verde mb-3">Contáctanos</h2>
    <!-- pequeña decoracion -->
    <div class="mx-auto w-16 h-1 bg-verde rounded mt-2 mb-1" aria-hidden="true"></div>
        <p class="text-xs sm:text-sm text-gray-500 text-center mb-4">Respondemos en menos de 24 horas</p>
        <form class="space-y-1 text-center" id="formularioContacto" (ngSubmit)="enviarEmail()">
            <input [(ngModel)]="nombre" type="text" id="nombre" name="nombre" placeholder="Introduce tu nombre"
                class="w-full p-2 sm:p-3 text-xs sm:text-sm border border-gray-300 rounded-md ">
            <input [(ngModel)]="email" type="email" id="email" name="email" placeholder="Introduce tu email"
                class="w-full p-2 sm:p-3 text-xs sm:text-sm border border-gray-300 rounded-md ">
            <select [(ngModel)]="asunto" name="asunto" id="asunto"
                class="w-full p-2 sm:p-3 text-xs sm:text-sm border border-gray-300 rounded-md ">
                <option value="" disabled selected class="text-xs sm:text-sm">Selecciona un asunto</option>
                <option value="1" class="text-xs sm:text-sm">Solicitar Información</option>
                <option value="2" class="text-xs sm:text-sm">Consulta sobre algún Inmueble</option>
                <option value="3" class="text-xs sm:text-sm">Otro</option>
            </select>
            <textarea [(ngModel)] = "mensaje" name="mensaje" id="mensaje" rows="6" sm:rows="7" md:rows="8" placeholder="Introduce tu mensaje"
                class="w-full p-2 sm:p-3 text-xs sm:text-sm border border-gray-300 rounded-md flex-grow"></textarea>
            <div class="flex justify-center">
            <button type="submit" id="btnEnviar"
                class="bg-green-600 hover:bg-green-700 h-full text-white font-semibold py-2 sm:py-3 px-2 md:px-4 rounded-md w-1/2 text-xs sm:text-sm md:text-base">
                Enviar mensaje
            </button>
        </div>
    </form>
</div> 